/*  css hard reset  */
* {
	margin: 0;
	padding : 0;
}
html,
body {
    font-family: "Lato", Arial, sans-serif;
    font-size: 11pt;
    font-weight: 400;
    background-image: url("../img/lightpaperfibers.png");
}
ul, li {
    list-style-type: none;
}
li.active {
    
}
a {
    color: #355259;
}
a:hover,
a:focus,
a:active {
    color: #55838E;
}

textarea {
    resize: none;
}

.brand-bookwork {
    width: 35px;
}
.content-pull {
    border-top: 1px solid #E6E6E6;
    padding-top: 5px;
    margin-top: 20px;
    text-align: center;
    width: 90%;
}
.content-pull a {
    font-size: 12px;
    color: #8E8E8E;
}

.content-pull a:hover,
.content-pull a:focus,
.content-pull a:active {
    font-size: 12px;
    color: #76B3C4;
}

.nav-logo {
    max-width: 35px;
    padding: 5px;
}
.meta-list-heading-big {
    font-family: "Droid Serif", Arial, sans-serif;
    font-size: 16px;
    font-style: italic;
    line-height: 16px;
}
.meta-list-heading {
    font-size: 14px;
    font-weight: bold;
}
.meta-list-item {
    font-size: 12px;
}
.text-size-12 {
    font-size: 12px;
}

/* header */
header {
    text-align: center;
    color: #fff;
    background-attachment: scroll;
    background-image: url(../img/header-bg-2.jpg);
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .intro-text {
    padding-top: 100px;
    padding-bottom: 50px;
}

header .intro-text .intro-lead-in {
    margin-bottom: 25px;
    font-family: "Droid Serif", Arial, sans-serif;
    font-size: 22px;
    font-style: italic;
    line-height: 22px;
}

header .intro-text .intro-heading {
    margin-bottom: 50px;
    text-transform: uppercase;
    font-family: "Lato", Arial, sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    text-shadow: 1px 2px #355259;/*#2E332F;*/
}

header .intro-list li {
    font-size: 18x;
    padding: 1%;
    text-shadow: 1px 1px #2E332F;
}

header .intro-teaser {
    padding-top: 55px;
    padding-bottom: 25px;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 2px #2E332F;
}

@media(min-width:768px) {
    header .intro-text {
        padding-top: 200px;
        padding-bottom: 225px;
    }

    header .intro-text .intro-lead-in {
        margin-bottom: 25px;
        font-family: "Droid Serif", Arial, sans-serif;
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
    }

    header .intro-text .intro-heading {
        margin-bottom: 50px;
        text-transform: uppercase;
        font-family: "Lato", Arial, sans-serif;
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
    }
}

section {
    padding-top: 100px;
}
section hr {
    text-align: center;
    margin: 0 auto;
    width: 90%;
}
section h2.section-heading {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 40px;
}
section h3.section-subheading {
    margin-bottom: 75px;
    text-transform: none;
    font-family: "Droid Serif", Arial, sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
}
section .services-pictograph {
    width: 100px;
    margin-top: 50px;
}
section .service-heading {
    margin-top: 25px;
}
section .teaser-logo {
    width: 250px;
    padding-bottom: 50px;
    margin-top: 30px;
}
section .text-quote {
    margin-top: 25px; 
    text-transform: none;
    font-family: "Droid Serif", Arial, sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
}
section .text-quote-author {
    margin-top: 25px;
    padding-left: 50%;
}
@media(min-width:768px) {
    section .services-pictograph {
        width: 180px;
        margin: 0;
    }
}
#user-profile {
    /*background: #fff;*/
}
#user-profile ul,
#book-profile ul {
    padding: 0;
    font-size: 12px;
}
#user-profile .text-meta {
    color: #355944;
}
#user-profile .nav {
    margin-bottom: 25px;
}
#user-profile .user-profile-edit {
    margin-bottom: 25px;
}
#user-profile .user-profile-name {
    font-size: 18px;
}
#user-profile .user-profile-alias {
    font-size: 16px;
    padding-bottom: 5px;
}

#book-profile .text-meta {
    font-size: 12px;
}
#book-profile .meta-ribbon {
    
}
#book-profile .meta-ribbon img {
    margin-right: 5px;
}
button>span,
#book-profile a span {
    margin-left: 15px;
}
#book-profile .book-badges-history,
#book-profile .book-statistics {
    margin-top: 20px;
    padding: 0;
}
#book-profile .book-statistics .book-badge,
#book-profile .book-badges-history .book-badge {
    margin-right: 5px;
}
#book-profile .book-profile-meta-big {
    font-size: 14px;
}
#book-profile .book-profile-meta-big li {
    padding-bottom: 10px;
}
#book-profile .rating {
    padding-top: 10px;
    padding-bottom: 25px;
}
.user-profile-description{
	font-size: 12px;
}
#book-profile h2 {
    font-size: 20px;
    padding-bottom: 10px;
    margin: 0;
}
#book-profile .book-profile-blurb-heading,
#book-profile #book-profile-sub-heading {
    padding-top: 20px; 
    padding-bottom: 20px;
}
#book-profile #book-profile-sub-heading {
    font-size: 16px;
}
#book-profile #book-series {
    font-size: 14px;
}
#book-profile #book-profile-blurb {
    font-size: 12px;
}
#book-profile h3 {
    font-size: 18px;
    padding-bottom: 10px;
    margin: 0;
}

#book-profile h4 {
    font-size: 16px;
    padding-bottom: 10px;
    margin: 0;
}
#book-profile .book-profile-option {
    padding-right: 5px;
    font-size: 14px;
}
#book-profile .commentary-portrait {
    width: 90%;
}
#book-profile .comment-wrapper {
    margin-top: 20px;
    margin-bottom: 15px;
}
#book-profile .comment-wrapper .comment-rating {
    font-size: 14px;
    margin-bottom: 7px;
    font-weight: bold;
}
#book-profile .comment-commentary-wrapper {
    margin-bottom: 10px;
}
#book-profile .comment-commentary-wrapper h3 {
    font-size: 14px;
}
#book-profile .comment-wrapper .comment-frame,
#book-profile .comment-commentary-wrapper .comment-frame {
    background: #fff;
    padding-left: 23px;
    padding-right: 15px;
    padding-top: 8px;
    border-bottom: 2px solid #E6E6E6;
    border-radius: 4px;
}
#book-profile .comment-text {
    font-size: 12px;
    padding-right: 5px;
}
#book-profile .comment-date {
    font-size: 12px;
}
/* book thumbnail */
.book-thumb {
    padding-bottom: 25px;
}
.book-thumb h2 {
    font-size: 16px;
    padding-bottom: 10px;
    margin: 0;
}
.book-thumb h3 {
    font-size: 14px;
    padding-bottom: 10px;
    margin: 0;
}
.book-thumb-txt {
    font-size: 10px;
}

#book-profile .book-thumb-label,
.book-thumb .book-thumb-label {
    background: #71BC8F;
    border-bottom: 2px solid #558E6C;
}
#book-profile .book-thumb-gore,
.book-thumb .book-thumb-gore {
    background: #8E5655;
    border-bottom: 2px solid #593535;
}
#messaging .msg .label-msg {
    background: #76B3C4;
    border-bottom: 2px solid #55838E;
    margin-left: 0;
    margin-right: 5px;
}
#messaging #msg-from {
    margin-top: 5px;
}
#messaging .panel {
    margin-top: 30px;
}

.label-meta {
    background: #76B3C4;
    border-bottom: 2px solid #55838E;
}
@media(min-width:768px) {
    .book-thumb-txt {
        font-size: 12px;    
    }
}
.book-thumb-cover {
    width: 100%;
}
@media(max-width:768px) {
    .book-thumb-cover {
        display: none;
    }
    .dropdown-meta {
        display: none;
    }
}
.book-thumb .book-thumb-meta li {
    float: left;
    padding-right: 10px;
}
.book-thumb .dropdown-meta {

}
/* upload section  */
#upload-files form h3 {
    margin-top: 50px;
    margin-bottom: 25px;
}
#upload-files .help-block {
    font-size: 12px;
}
#upload-files form .form-group {
    margin-top: 25px;
}
#upload-files form .form-send {
    margin-top: 50px;
}
#upload-files .cover-preview {
    padding: 0;
}
/* messaging */
#messaging {
}
#messaging .messaging-heading {
    font-size: 24px;
    padding-top: 0;
    padding-bottom: 25px;
}
#messaging #table-mailbox {
    font-size: 14px;
}
#messaging #table-mailbox .glyphicon {
    font-size: 16px;
    line-height: 16px;
}
#messaging #table-mailbox .msg:hover {
    background: #F5F5F5;
    cursor: pointer;
}
#messaging .msg span,
#messaging button .glyphicon {
    margin-left: 15px;
}
/* footer */
footer {
    margin-top: 100px;
    padding-top: 25px;
    color: #fff;
    background-color: #2E332F;
}

footer ul li:first-child {
    padding-left: 0px;
}
footer ul li {
    font-family: "Lato", 'serif';
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    float: left;
    padding-left: 7px;
    padding-right: 7px;
}
footer p {
    font-family: "Droid Serif", Arial, sans-serif;
    font-size: 12px;
    font-weight: italic;
    text-align: center;
    padding-top: 50px;
}
/* button-b */
.btn-b {
    text-transform: uppercase;
    font-family: "Lato", Arial, sans-serif;
    font-weight: 700;
    color: #fff;
    border-bottom: 2px solid #355259;
    background-color: #55838E;
}

.btn-b:hover,
.btn-b:focus,
.btn-b:active,
.btn-b.active,
.open .dropdown-toggle.btn-primary {
    color: #fff;
    border-bottom: 2px solid #55838E;
    background-color: #76B3C4;
}

.btn-b:active,
.btn-b.active,
.open .dropdown-toggle.btn-primary {
    background-image: none;
}

/* button-r */
.btn-r {
    text-transform: uppercase;
    font-family: "Lato", Arial, sans-serif;
    font-weight: 700;
    color: #fff;
    border-bottom: 2px solid #593535;
    background-color: #8E5655;
}

.btn-r:hover,
.btn-r:focus,
.btn-r:active,
.btn-r.active,
.open .dropdown-toggle.btn-primary {
    color: #fff;
    border-bottom: 2px solid #8E5655;
    background-color: #BC7171;
}

.btn-r:active,
.btn-r.active,
.open .dropdown-toggle.btn-primary {
    background-image: none;
}

/* button-g */
.btn-g {
    text-transform: uppercase;
    font-family: "Lato", Arial, sans-serif;
    font-weight: 700;
    color: #fff;
    border-bottom: 2px solid #355944;
    background-color: #558E6C;
}

.btn-g:hover,
.btn-g:focus,
.btn-g:active,
.btn-g.active,
.open .dropdown-toggle.btn-primary {
    color: #fff;
    border-bottom: 2px solid #558E6C;
    background-color: #71BC8F;
}

.btn-g:active,
.btn-g.active,
.open .dropdown-toggle.btn-primary {
    background-image: none;
}

/* miscellaneous */
.badge-pn {
    background-color: #71BC8F;
}

.thumbnail-centered {
    text-align: center;
    border: 0;
    background: 0;
}
.error-log {
    color: #8E5655;
}
.no-padding {
    padding: 0;
}
.text-align-right {
    text-align: right;
}
.text-align-center {
    text-align: center;
}
.text-align-left {
    text-align: left;
}
.padding-right-5 {
    padding-right: 5px;
}

.rating-symbol {
    cursor: pointer;
}

.rating>div>.rating-symbol {
    font-size: 20px;
    line-height: 20px;
    top:5px;
}
.rating>div>.rating-symbol+.rating-symbol{
	margin-left:5px;
}
.rating-div{
	display: inline;
}
.rating>span{
	font-size: 14px;
}

iframe a{
	font-size:30px;
}
.form .rating-div{
    margin-left:5px;
}
.form .rating-div>div{
    font-size: 18px;
    line-height: 20px;
    top:5px;
}
.comment-links{
	font-size:12px;
	margin-bottom: 10px; 
}
.btn-edit{
	margin-top: 10px;
}
.form-edit{
	margin-right: 7px;
}
.btn-new-answer{
	margin-bottom:25px;
}
