assets/
upload/
protected/config/main.php
papyrus.phpproj
papyrus.sln
papyrus.v11.suo
papyrus.phpproj.user
Properties/PublishProfiles/test.phppub
Properties/PublishProfiles/test.phppub.user
protected/runtime/application.log
